Source: default-settings-autostart
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.2

Package: default-settings-autostart
Architecture: all
Replaces: netrunner-system (<< 1.1.4)
Breaks: netrunner-system (<< 1.1.4)
Description: Autostart files
  This package provides the default autostart files of Maui/Netrunner.
