Source: default-settings-autostart
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.2

Package: default-settings-autostart
Architecture: all
Recommends: novnc, x11vnc
Replaces: netrunner-system (<< 1.1.4), c1-netrunner-core-settings (<< 0+p8+git20160825)
Breaks: netrunner-system (<< 1.1.4), c1-netrunner-core-settings (<< 0+p8+git20160825)
Description: Autostart files
  This package provides the default autostart files of Maui/Netrunner.
