[Desktop Entry]
Comment[en_US]=
Comment=
Exec=sleep 2 & ksystraycmd5 --hidden firefox about:blank &
GenericName[en_US]=
GenericName=
Hidden=false
Icon=firefox
MimeType=
Name[en_US]=Firefox Preload
Name=Firefox Preload
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-GNOME-Autostart-enabled=true
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-autostart-phase=2
